<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис для проверки штрафов</title>
    <style>
        /* Стили для аккордеона */
        .accordion {
            background-color: #eee;
            border: 1px solid #ccc;
            margin: 10px 0;
        }
        .accordion-header {
            padding: 10px;
            cursor: pointer;
        }
        .accordion-content {
            display: none;
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="accordion">
    <div class="accordion-header">Выберите действие:</div>
    <div class="accordion-content">
        <button id="openModal">Найти штрафы по имени</button>
        <button id="openAdder">Добавить штраф в базу данных</button>
        <button id="openChecker">Статистика данных</button>
    </div>
</div>

<!-- Диалоговое окно -->
<div id="modal" style="display:none;">
    <div>
        <h2>Введите имя в поле ниже</h2>
        <textarea id="userInput"></textarea>
        <button id="submit">Отправить</button>
    </div>
    <div id="results" style="display:none;">
        <h3>Ваши штрафы:</h3>
        <text id="result"></text>
    </div>
</div>

<div id="adder" style="display:none;">
    <div>
        <h2>Введите имя, размер штрафа и ваш id в поля ниже</h2>
        <textarea id="nameInput" rows="1" cols="25" placeholder="Имя"></textarea>
        <textarea id="valueInput" rows="1" cols="13" placeholder="Размер штрафа"></textarea>
        <textarea id="empidInput" rows="1" cols="15" placeholder="Ваш id(>=1)"></textarea>
        <button id="addbill">Добавить</button>
        <br>
        <text id="addresponse"></text>
    </div>
</div>

<div id="checkStats" style="display:none;">
    <div>
        <h2>Количество записей:</h2>
        <textarea id="billsstats"></textarea>
        <label for="billsstats">-- Количество записей в таблице штрафов</label>
        <br>
        <textarea id="empstats"></textarea>
        <label for="empstats">-- Количество записей в таблице сотрудников</label>
        <br>
        <button id="update">Обновить информацию</button>
    </div>
</div>

<script>
    // Обработчик аккордеона
    document.querySelectorAll('.accordion-header').forEach(header => {
        header.addEventListener('click', () => {
            const content = header.nextElementSibling;
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
        });
    });

    // Открытие и закрытие диалогового окна
    document.getElementById('openModal').onclick = () => {
        document.getElementById('modal').style.display = 'block';
        document.getElementById('adder').style.display = 'none';
        document.getElementById('checkStats').style.display = 'none';
    };
    document.getElementById('openAdder').onclick = () => {
        document.getElementById('modal').style.display = 'none';
        document.getElementById('adder').style.display = 'block';
        document.getElementById('checkStats').style.display = 'none';
    };
    document.getElementById('openChecker').onclick = () => {
        document.getElementById('modal').style.display = 'none';
        document.getElementById('adder').style.display = 'none';
        document.getElementById('checkStats').style.display = 'block';
    };

    // Отправка данных на сервер
    document.getElementById('submit').onclick = () => {
        document.getElementById('results').style.display = 'block';
        const userInput = document.getElementById('userInput').value;
        fetch('/bills/check', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ text: userInput })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('result').innerText = data.result.join("\n");
        });
    };

    document.getElementById('addbill').onclick = () => {
        const nameInput = document.getElementById('nameInput').value;
        const valueInput = document.getElementById('valueInput').value;
        const empidInput = document.getElementById('empidInput').value;
        document.getElementById("nameInput").value = "";
        document.getElementById("valueInput").value = "";
        document.getElementById("empidInput").value = "";
        fetch('/bills/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: nameInput, value: valueInput, empid: empidInput })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('addresponse').innerText = data.result;
        });
    };

    document.getElementById('update').onclick = () => {
        fetch('/getstats', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('billsstats').innerText = data.billscount;
            document.getElementById('empstats').innerText = data.empscount;
        });
    };
</script>

</body>
</html>
